# Standard Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
__debug_bin
go.work

# Vendor directory (uncomment if not using vendoring)
# vendor/

# Logs
*.log
*.log.gz

# Air (live reload)
.air.toml
.air/

# Jupyter Notebooks
*.ipynb

# Temp and uploads
tmp/
uploads/
*/cmd/uploads

.env
TODO.MD